.border1
{
	border:10px solid transparent;
	padding:15px;
	border-image:url(border.png) 40 stretch;
}
.border2
{
	border:10px solid transparent;
	padding:15px;
	border-image:url(border.png) 50 round;
}