body
{
	background-color:pink;
}
@media screen and (min-width:480px)
{
	body
	{
		background-color:lightgreen;
	}
}
ul
{
	list-style-type:none;
}
ul li a
{
	color:green;
	text-decoration:none;
	padding:3px;
	display:block;
}
@media screen and (max-width:699px) and (min-width:520px)
{
	ul li a 
	{
		padding-left:30px;
		background-image:url(Email.jpg);
		background-size:20px 20px;
		background-repeat:no-repeat;
	}
}
@media screen and (max-width:1000px) and (min-width:700px)
{
	ul li a:before
	{
		content:'Email: ';
		font-style:italic;
		color:#666666;
	}
}
@media screen and (min-width:1001px)
{
	ul li a:after
	{
		content:"(" attr(data-email) ")";
		font-style:italic;
		font-size:12px;
		color:#666666;
	}
}
@media screen and (min-width:1151px)
{
	ul li a
	{
		padding-left:30px;
		background-image:url(Email.jpg);
		background-size:20px 20px;
		background-repeat:no-repeat;
	}
}